# configurari flask
FLASK_APP=backend/app
FLASK_ENV=development
PYTHONPATH=backend

# securitate si baza de date
SECRET_KEY=pune_o_cheie_secreta_aici
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/booksharing_db
JWT_SECRET_KEY=alta_cheie_secreta_pentru_jwt